---

import Button from '../assets/button.astro';
---
<div style="height: 80vh;">
    <h1 style="font-size: 55pt;font-weight: 900 ;">Make Your Sewage<br/> Murder Free</h1>
    <p style="font-size: 12pt;width: 41%;">Over <b>330</b> people have lost their lives due to manual scavenging, a practice that is officially banned but continues to persist across India.Thus, we at Scavenger Relief are actively help manual scavenger</p>

    <div style="display: flex;gap:20pt;padding-top: 20pt;">
        <a target="_blank" href="https://buy.stripe.com/test_fZecPYagR5M68gw7ss"><Button isDonate={true} /></a>
        <a href="#purpose"><Button isDonate={false} /></a>
    </div>
    <img src="hero.png" style="position: absolute;z-index:-1 ;right: 0;width: 40vw;margin-right: 8vw;top:80px"/>
</div>
