---
---
<style>
    p {
        font-size: 16pt;
        line-height: 24pt;
    }
    </style>
<svg height="500px" width="500px" style="position: absolute;z-index: -1;margin-left:-20vw">
  <circle r="250" cx="250" cy="100" fill="#CECFC4" />
</svg>
<div id="purpose">
    <h2 style="font-size: 30pt">Purpose</h2>
    <p>Manual scavenging, the practice of manually cleaning human waste from sewers and latrines, persists in India despite being <b>banned since 1993</b>. It is a dangerous and dehumanizing job, often resulting in fatalities due to exposure to toxic gases. Over the past five years, 339 manual scavengers have died. The practice continues due to socio-economic factors, poor enforcement of laws, and lack of mechanized solutions.</p>

    <p>Rehan Shah's NGO, Scavenger Relief, in collaboration with Live to Inspire Charitable Trust, is dedicated to providing full body health and safety support kits to <b>1000 manual scavengers</b> across 11 villages in India. The initiative includes essential protective gear such as gumboots, goggles, gloves, masks, helmets, torches, and PVC suits to safeguard against health hazards. This project aligns with the <b>UNSDG 2030</b> goals of reducing inequalities (Goal 10) by improving the dignity and safety of manual scavengers, and promoting climate action (Goal 13) by ensuring safer waste management practices.</p>
</div>
